body {
  width: 100%;
  min-width: 400px;
  color: #fff;
  display: flex;
  font-family: Muller, sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-height: 100vh;
  scroll-behavior: smooth;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #161626;
  z-index: 100;
  position: fixed;
  top: 0;
}

.header-nav {
  box-sizing: border-box;
  border-top: 1px solid #363648;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.header-nav-pages {
  box-sizing: border-box;
  border-top: 1px solid #363648;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.logo-link {
  display: block;
  height: 50px;
}

.logo-img {
  width: 200px;
  height: 100%;
}

.nav-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 24px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  line-height: 50px;
}

.auth {
  border-top: 1px solid #363648;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0 70px;
}

.login {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  align-items: center;
  background-color: #0000;
  border-bottom: 1px solid #fff;
  height: 30px;
  display: flex;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.register {
  cursor: pointer;
  text-decoration: none;
  padding: 0 12px;
  background-color: #fe284a;
  box-shadow: 0 3px 0 0 #871628, 0 4px 4px 0 #000;
  border-radius: 50px;
  height: 30px;
  display: flex;
  align-items: center;
}

.register:hover {
  box-shadow: 0 3px 0 0 #871628, 0 4px 4px 0 #000, inset 0 15px 15px -3px #fff6;
}

.auth-span {
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

main {
  width: 100%;
  margin-top: 150px;
  padding: 5px;
  background-color: #212132;
  box-shadow: 0 0 30px 0 #00000080;
  box-sizing: border-box;
}

.main-container {
  padding: 10px;
  margin-bottom: 45px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 1;
  color: #fff;
  margin: 0px 0px 20px 0px;
  text-align: left;
  text-transform: none;
}

.main-text {
  line-height: 1.6;
  margin: 0px 0px 20px 0px;
}

.hero-section {
  margin: 0px 0px 20px 0px;
}

h2 {
  margin: 0px 0px 10px 0px;
  line-height: 1;
  font-size: 31px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15),
    -1px -1px 2px rgba(0, 0, 0, 0.15), 0 0 4px #000;
}

.banner-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.banner-container img {
  width: 100%;
  height: auto;
  display: block;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  padding: 0 12px;
  background-color: #fe284a;
  box-shadow: 0 3px 0 0 #871628, 0 4px 4px 0 #000;
  border-radius: 50px;
  height: 30px;
  display: flex;
  align-items: center;
}
.banner-span {
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

footer {
  width: 100%;
  background-color: #161626;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.footer-nav {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.footer-nav-list {
  list-style: none;
  padding: 0px;
  display: flex;
  gap: 24px;
}

.foot-nav-item-link {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  line-height: 20px;
}

.socials-container {
  display: flex;
  justify-content: center;
}

.socials-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
  gap: 10px;
}

.socials-link {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 35px;
  justify-content: center;
  width: 35px;
}

.ig-link {
  background-color: #3e5a98;
  box-shadow: 0 3px 0 1px #253459;
}

.yt-link {
  background-color: red;
  box-shadow: 0 3px 0 1px #781712;
}

.socials-icon {
  width: 20px;
  height: 20px;
}

.copyright {
  color: #646a87;
  font-size: 12px;
  text-align: center;
  margin: 0px;
  align-self: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 16px;
  line-height: 30px;
  margin: 0px;
  color: #fff;
  text-align: left;
  text-transform: none;
  font-weight: 700;
  cursor: pointer;
}

.btn-down {
  background-color: transparent;
  border: none;
  transition: 1000ms ease;
}

.arrow-icon {
  margin: 0 8px;
  transition: transform 0.5s;
  width: 12px;
}

.active-header {
  transform: rotate(180deg);
  transition: 1000ms ease;
}

.list-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: 1000ms ease-in-out max-height;
}

.footer-main-cont {
  padding: 0px 10px 20px 10px;
}

.footer-second-cont {
  border-top: 1px solid #303036;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 10px 20px 10px;
}

.payment-options {
  margin-top: 20px;
}

.payment-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.payment-list-item {
  height: 40px;
  min-width: 80px;
  color: #646a87;
  font-size: 12px;
  align-items: center;
  background-color: #ffffff08;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 0 10px 10px 0;
  padding: 10px;
  width: auto;
}

.payment-logo {
  height: 100%;
  max-height: 40px;
  object-fit: contain;
  width: 60px;
}

@media screen and (min-width: 768px) {
  body {
    min-width: 768px;
    width: 100%;
  }

  header {
    background-color: #252536f2;
  }

  .header-nav {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0 20px;
    gap: 20px;
  }

  .auth {
    padding: 0px;
  }

  main {
    margin-top: 50px;
    background-image: url("https://static.vavada.net/img/back_games_wided.227796c41fd586631e9dc8c7af874e66.svg");
  }

  footer {
    background-color: #0a0a14;
  }
}
@media screen and (min-width: 1200px) {
  body {
    min-width: 1200px;
    width: 100%;
  }

  .header-nav {
    padding: 0 15px;
    gap: 240px;
  }

  main {
    background-image: url("https://static.vavada.net/img/back_games_wided.227796c41fd586631e9dc8c7af874e66.svg");
  }

  .footer-main-cont {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;
  }
}
